<!--
  Generated template for the ForumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custombar [title]="'Category'" (onclickback)="onclickbackbutton($event)"></custombar>
</ion-header>


<ion-content class="content">
  <div class="layer"></div>

  <ion-list clear>
    <ion-list-header no-lines text-center>
      <p>Welcome to the Country Sport Forum</p>
      <p>Please choose a category</p>
    </ion-list-header>

    <ng-container *ngFor="let item of categoryList ; let i = index;">
      <ion-item *ngIf="item.type == 0" no-lines text-center (click)="onclickitems(i)">
        <button ion-button large>{{item.ca_name}}</button>
      </ion-item>
    </ng-container>

    <ion-item no-lines>
       <ion-label color="extralight"  style="font-weight : bold; font-size : 14pt;" text-center>For SALE</ion-label>
    </ion-item>

    <ng-container *ngFor="let item of categoryList ; let i = index;">

        <ion-item *ngIf="item.type == 1" no-lines text-center (click)="onclickitems(i)">
            <button ion-button large>{{item.ca_name}}</button>
        </ion-item>
      </ng-container>

  </ion-list>
</ion-content>
