// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #70b849,
  danger:     #0a0909,
  light:      #f4f4f4,
  dark:       #222,
  facebook:   #3b5998,
  twitter:    #429cd6,
  gmail:      #df4b37,
  extralight: #fff,
  graycolor : #cecece,
  lightbg  :  #f8f8f8,
  mainbutton : rgb(119, 214, 84)
);


$custom_colors : (
  gradient_color :linear-gradient(180deg, rgba(244,243,249,1) 24%, rgba(112,184,73,1) 76%, rgba(112,184,73,1) 90%),
  maingradient : linear-gradient(150deg, rgb(128, 212, 97) 24%, rgb(39,181,247) 66%, rgb(39,181,247) 66%),
  mainbutton : rgb(119, 214, 84)
);

$border_radius : (
  radius_5 : 10px,
  radius_10 : 20px,
  radius_15 : 30px,
  radius_20 : 40px,
  radius_25 : 50px,
  radius_30 : 60px,
);



$custom_padding : (
  padding_10 : 10px,
  padding_20 : 20px,
  padding_30 : 30px,
  padding_40 : 40px,
  padding_50 : 50px,
  padding_60 : 60px,
);

$custom_font : (
  font_10 : 10pt,
  font_11 : 11pt,
  font_12 : 12pt,
  font_13 : 13pt,
  font_14 : 14pt,
  font_15 : 15pt,
  font_16 : 16pt,
  font_17 : 17pt,
  font_18 : 18pt,
  font_19 : 19pt,
  font_20 : 20pt,
  font_21 : 21pt,
  font_22 : 22pt,
  font_23 : 23pt,
  font_24 : 24pt,
);

$font: (
  big:          2.3rem,
  extramedium:  1.9rem,
  largemedium:  1.6rem,
  medium:       1.5rem,
  small:        1.5rem,
  bitsmall:     1.4rem,
  smallbtn:     1.3rem,
);

//margin

$margin: (
  big:      32px,
  medium:   16px,
  small:    8px,
  bitsmall: 4px,
);


$height:(
  btnheight: 4rem,
  roundbtn:  5rem,
  propic:  15rem,
  smallbtn: 3rem,
  large:    7rem,
);


$width:(
  logo: 14rem,
  roundbtn:  5rem,
  propic:  15rem,
  btnwidth: 4rem,
);

$toolbar-md-title-text-color: #70b849;
$toolbar-ios-title-text-color: #70b849;
$toolbar-wp-title-text-color: #70b849;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
