<!--
  Generated template for the ForumDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custombar [title]="'Forums'" (onclickback)="onclickbackbutton($event)"></custombar>
</ion-header>


<ion-content>
  <!-- <ng-template *ngIf="categoryArray.length > 0"> -->
      <forum-item  [index]="i"  [info]="item"  (clickItem)="onclickitem($event)" *ngFor="let item of categoryArray; let i = index"></forum-item>
  <!-- </ng-template> -->


  <ion-fab bottom right>
      <button color="mainbutton" ion-fab (click)="onclickfabbutton()"> <ion-icon ios="ios-add" md="md-add"></ion-icon></button>
  </ion-fab>

</ion-content>
