<!--
  Generated template for the ForumDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custombar [title]="title" [type]="'category'" (onclickback)="onclickbackbutton($event)" ></custombar>
</ion-header>


<ion-content>

    <customsearchbar color='primary' [passarray]="categorySearchArray"   (onChangeSearchValue)="onchangeSearch($event)" ></customsearchbar>
    <!-- <div class="layer"></div> -->
  <!-- <ng-template *ngIf="categoryArray.length > 0"> -->
    <forum-item  [index]="i"  [info]="item"  (clickForumImage)="presentImage($event)" (clickUserPhoto)="onclickuserphoto($event)" (clickDeleteButton)="onclickdeletebutton($event)" (clickItem)="onclickitem($event)" *ngFor="let item of categorySearchArray; let i = index"></forum-item>
  <!-- </ng-template> -->


  <ion-fab bottom right>
      <button color="mainbutton" ion-fab (click)="onclickfabbutton()"> <ion-icon ios="ios-add" md="md-add"></ion-icon></button>
  </ion-fab>

</ion-content>
