<!--
  Generated template for the AnswerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custombar [title]="'Answers'" (onclickback)="onclickbackbutton($event)"></custombar>
</ion-header>


<ion-content>
  <div class="layer"></div>
  <ion-list style="padding : 0 !important;">
      <ion-list-header no-lines>
          <ion-item no-lines>
            <ion-avatar item-start>
                <img  src="assets/imgs/man2.jpeg">
            </ion-avatar>
            <ion-label *ngIf="myinfo.name"  item-end>{{myinfo.name}}</ion-label>
          </ion-item>

          <ion-item>
              <img *ngIf="myinfo.photo != ''"  src="{{myphoto}}{{myinfo.photo}}">
              <p *ngIf="myinfo.title">{{myinfo.title}}</p>
              <p *ngIf="myinfo.content">{{myinfo.content}}</p>
          </ion-item>
        </ion-list-header>
    <forum-favorite-item [info]="item" [index] = "i" (clickLike)="onclicklikebutton($event)" (clickUnLike)="onclickunlikebutton($event)" *ngFor="let item of answerArray; let i = index;" ></forum-favorite-item>
  </ion-list>


</ion-content>
<ion-footer>
    <div class="reply_input">
        <div class="input_area">
          <ion-textarea no-margin placeholder="add new answers" [(ngModel)]="message" id="messageInputBox"></ion-textarea>

          <div class="right_arrow"></div>
        </div>
        <button ion-button (click)="onclickSendButton()">
          <ion-icon name="ios-send"></ion-icon>
        </button>
      </div>
</ion-footer>
