page-answer {
  .mycontent
  {
    background-image: none;
    background-color: map_get($colors, light);
  }
  background-image: none;
  background-color: map_get($colors, light);
  ion-list-header{
    background-color: transparent;
    ion-item{
      background-color: transparent;
      img{
        width: 100%;
        height: 150px;
        background-size: cover;
        object-fit: cover;
      }

    }
  }

  .reply_input {
    bottom: 0;
    width: 100%;
    float: left;
    display: flex;
    background-color: map_get($colors, lightbg);
    .input_area {
      position: relative;
      flex: 1;
      padding: 8px;
      #messageInputBox{
        position : initial !important;
      }

      textarea {
        flex: 1;
        font-size: 15px;
        float: left;
        height: 50px;
        border: 0;
        border-radius: 4px;
        border-top-right-radius: 0;
        position: relative;
        width: 100%;
        padding: 4px;
        background-color: map_get($colors, extralight);
      }
      .right_arrow {
        width: 0;
        height: 0;
        border-top: 0 solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid #fff;
        position: absolute;
        right: -8px;
        top: 8px;
      }
    }
    button.button {
      font-size: 16px;
      min-height: 0;
      text-transform: capitalize;
      font-weight: normal;
      margin: 8px;
      // align-self: flex-end;
      height: map_get($height, btnheight);
      width: map_get($height, btnheight);
      border-radius: 100%;
    }
  }

}
