<ion-card>
  <ion-item no-padding>
    <ion-avatar item-start>
      <img src="assets/imgs/man2.jpeg"/>
    </ion-avatar>
    <div class="post_user_details">
      <h2>Marty McFly</h2>
      <p>November 5, 1955</p>
    </div>
    <!-- <button ion-button clear icon-only color="bordercolor" (tap)="postpopover($event)"> -->
    <!-- <button ion-button clear icon-only color="bordercolor" >
      <ion-icon name='ios-arrow-down-outline'></ion-icon>
    </button> -->
  </ion-item>

  <!-- <img (tap)="viewpost()" src="assets/img/post1.png"/> -->
  <img  src="assets/imgs/man1.jpeg"/>

  <ion-card-content>
    <p>this is title</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dicta eos exercitationem iure, quaerat
      recusandae!</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>
