<ion-card (click)="onclickanswerbutton(index)">
  <ion-item no-padding>
    <ion-avatar item-start>
      <img src="assets/imgs/man2.jpeg"/>
    </ion-avatar>
    <div class="post_user_details">
      <h2>{{myinfo.name}}</h2>
    </div>
    <button *ngIf="myid == myinfo.user_id"  ion-button clear icon-only color="secondary" (click)="onclickdeletebutton();$event.stopPropagation();">
      <ion-icon name='ios-arrow-down-outline'></ion-icon>
    </button>
  </ion-item>

  <!-- <img (tap)="viewpost()" src="assets/img/post1.png"/> -->
  <img  class="forum_image" *ngIf="myinfo.photo != ''"  src="{{myphoto}}{{myinfo.photo}}" />

  <ion-card-content>
    <p>{{myinfo.title}}</p>
    <p>{{myinfo.content}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col col-6 center text-center>
      <button ion-button icon-left clear small>
          <ion-icon ios="ios-text" md="md-text"></ion-icon>
        <ion-label *ngIf="answer_num > 0" >{{answer_num}} answers</ion-label>
        <ion-label *ngIf="answer_num == 0" >add new comment</ion-label>
      </button>
    </ion-col>
    <ion-col col-6 center text-center>
      <button (click)="onclickanswerbutton(index)"   ion-button icon-left clear small>
          <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
          <ion-label style="color: rgb(119, 214, 84);">{{myinfo.created}}</ion-label>
        </button>
    </ion-col>
  </ion-row>
  </ion-card>
